body {
    /* align-content: center; */
    background-color: #efefef;
    margin: 0;
    padding: 0;
    /* background-color: #d31f1f; */
}

header.header {
    background-color: #252525;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

header.companu__name {
    font-size: 50px;
    font-weight: 600;
}

header.name_1 {
    color: #9823ff;
}


header.navigate {
    list-style-type: none;
    display: flex;
}

header.elem__navigate {
    margin: 0 100px;
}

header.footer {
    background-color: #252525;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 600;
}


a {
    text-decoration: none;
    color: #9823ff;
}



main.block {
    margin: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    width: 300px;
    padding: 0 10px 20px 10px;
    text-align: center;
}

textarea {
    
    width: 90%;
    height: 70px;
    min-width: none;
    max-width: none;
}

main.unvisible {
    display: none;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

main.card {
    width: 250px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    /* margin: 10px 0; */
    word-break: break-all;
}

main.card.dragged {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    cursor: grabbing;
}

main.body--cards {
    text-align: center;
}

main.add-block {
    bottom: 20px;
}

main.unvis {
    pointer-events: none;
}

main.card_delete {
    z-index: 9990   ;
}